html, body         { height: 100%; width: 100%; margin: 0; color: #222;
                     font-family: 'Crimson text', serif; font-size:18px;}
h1,h2,h3,h4        { font-family: Arial; margin:0;}
p                  { margin: 0.1em 0; line-height:1.5em;}
h2                 { font-size: 1.25em; }
h3                 { font-size: 1em; margin: 0; padding: 3px;}
h2                 { background-color: #333; color: #fff; margin: 0; padding: 5px;}
a:link, :visited   { color: #007bff; text-decoration: none;}
a:hover            { text-decoration: underline; }
ul                 { list-style: none; margin:0; padding:0;}
.right             { float:right; }
.left              { float:left; }

#content-container { width: 100%; height: 100%;
                     background-color: #efefef; overflow: hidden; }
#current           { width: auto; height: 48%; overflow: auto; margin:1%;
                     position: relative;}
#search            { position: absolute; right:10px; top: 3px; padding: 4px;
                     border: 2px solid #aaa;}
#search-results    { position: absolute; top:40px; left: 0; width: 100%; height: 85%;
                     background-color: rgba(255,255,255,0.9); display: none; z-index: 5000;}

table.properties   { width: 65%; float:left; font-size: 16px; margin-top:1em;
                     border-collapse:collapse;}
.links             { float: left; margin-top:1em; padding-left:2%;}
td.label           { width: 150px; font-family: Arial; font-size:14px; font-weight: bold;
                     text-align: right; padding-right:2em; }
td.value             { width: auto; height: 1.5em;}
tr.binding         { }
tr:nth-child(odd)  { background:#fff;}
.binding > div       { float: left; }
ul.labels li       { display: inline-block; float: left; margin-right:1em;
                     padding:2px; border: 1px solid transparent;}
ul.labels li:hover { border: 1px dotted #ccc }
.link-box          { width: 32%; height: 40%; margin-left: 1%; float:left;
                     background: #333; color: #fff; position: relative;
                     border: 1px solid #ccc; overflow:hidden;}
.link-box:hover    { background-color: #007bff; border: 1px dotted #ccc;}
.link-box-inner    { width: 100%; height: 91.5%; background: #fff;
                     overflow:auto;}
.link-box-inner li { border: 1px solid #fff; padding: 2px; margin:0 0.5em; position: relative;
                     display: inline-block; float: left; width: 220px; word-wrap: break-word;}
.link-box-inner li:hover { border: 1px dotted #ccc; }
.link-box-inner li:hover > div { display: block;}
#arrow-left        { width: 20px; height: 30%; float:left; overflow:hidden;}

#arrow-down        { width: 100%; height: 20px;
                     position:absolute; left:0; bottom:-32px; }

#arrow-right       { width: 10px; height: 100%;
                     position:absolute; right: -20px; top:20px; }

img.arrow-v        { width: 10px; height: 30%;}
img.arrow-h        { width: 100%; height: 10px;}

.triangle          { width: 0px; height: 0px; border-style: solid; }
.south             { border-width: 20px 248px 0 248px;
                     border-color: #007bff transparent transparent transparent;
                     position:absolute; top:0; left:0; }
.west              { border-width: 248px 20px 248px 0;
                     border-color: transparent #007bff transparent transparent; }
.east              { border-width: 248px 0 248px 20px;
                     border-color: transparent transparent transparent #007bff; }


.circle            { display: inline-block; width:1.25em; height:1.25em;
                     padding:0; margin:0 0.25em;
                     border-radius: 0.7em; background:#ddd; color: #777; }
.circle p          { text-align: center; margin: -0.15em -0.24em; font-weight: bold;
                     padding:0;}
.circle:hover      { background: #007bff; color: #fff; cursor: pointer;}
.minus             { position: absolute; top:2px; right: 0px; display: none; }

